.places{
    color: #fff;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media (max-width: 1024px){
    .places{
        gap: 73px;
    }
}

@media (max-width: 768px){
    .places{
        gap: 64px;
    }
}