.places{
    color: #fff;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media (max-width: 1023px){
    .places{
        padding-top: 88px;
        gap: 73px;
    }
}

@media (max-width: 767px){
    .places{
        padding-top: 64px;
        gap: 50px;
    }
}