.place__paragraphs{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 48px;
    justify-content: flex-start;
}

@media (max-width:1023px){
    .place__paragraphs{
        gap:25px;
    }
}

@media (max-width:767px){
    .place__paragraphs{
        margin-top: 32px;
        padding-left: 16px;
    }
}