.cover__title{ 
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 32px 0;
    text-align: center;
} 

 

@media (max-width: 767px){ 

    .cover__title{ 
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    } 

} 