.place{
    max-width: 984px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

@media (max-width: 1280px){
    .place{
        max-width: 928px;
    }
}

@media (max-width: 1024px){
    .place{
        max-width: 720px;
    }
}

@media (max-width: 768px){
    .place{
        max-width: 320px;
    }
}